<!DOCTYPE html>
<html ng-app="moviesApp">
<head>
	<title>Movies</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-controller="moviesController">
	<h1>Movies</h1>
​
	<form ng-submit="addMovie()">
		<input type="text" placeholder="Title" ng-model="movie.title">
		<input type="text" placeholder="Rating" ng-model="movie.rating">
		<input type="text" placeholder="Release Year" ng-model="movie.releaseYear">
		<input type="text" placeholder="Length" ng-model="movie.length">
		<button type="submit">Add Movie</button>
	</form>
​
	<br>
​
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Rating</th>
				<th>Release Year</th>
				<th>Length</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="movie in movies | orderBy: 'title'">
				<td>{{movie.title}}</td>
				<td>{{movie.rating}}</td>
				<td>{{movie.releaseYear}}</td>
				<td>{{movie.length}}</td>
			</tr>
		</tbody>
	</table>
​
	<script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>